.activities{
    display: flex;
}

.displayActivities{
    display: flex;
}

.eachActivity{
    display: flex;
    background-color: #f5f5f5;
    margin: 5px;
    border-radius: 5px;
    color: white;
}

.activityName{
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: black;
    background-color: chartreuse;
}

.closeButton{
    background-color: red;
    color: white;
    height: 20px;
    margin-left: 5px;
}